@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h3 {
    @apply text-[28px] font-semibold leading-10 lg:text-[38px] lg:leading-[46px];
  }

  h5 {
    @apply text-base font-semibold leading-[22px]  lg:text-[22px] lg:leading-[31px];
  }
}

@layer components {
  .main-container {
    @apply container mx-auto w-[375px] md:w-full;
  }

  .section-padding {
    @apply py-10 lg:py-20;
  }
}

body {
  font-weight: 400;
  font-size: 16px;
  background-color: #2b2b2b;
  line-height: 22px;
  color: white;
  overflow-x: hidden;
}
